.button {
  background: none;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 3px;

  @include m('no-border') {
    border: none;
    color: $color-blue;
    font-weight: bold;
    letter-spacing: 0.05rem;
    @include medium {
      width: 100px;
      border: 1px solid $color-blue;
    }
  }

  @include e('edit') {
    background-color: $color-gray100;
    padding: 4px 6px;
  }

  @include m('mobile') {
    display: inline-block;
    opacity: 1;
    visibility: visible;
    @include medium {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  @include m('desktop') {
    display: none;
    opacity: 0;
    visibility: hidden;
    @include medium {
      display: inline-block;
      opacity: 1;
      visibility: visible;
    }
  }

  @include m('primary') {
    color: $color-white;
    background-color: $color-blue;
    border: 1px solid $color-blue;
  }

  @include m('secondary') {
    color: $color-blue;
    background-color: $color-white;
    border: 1px solid $color-blue;
  }

  @include m('controls') {
    width: 100px;
    text-align: center;;
  }

  @include m('disabled') {
    color: $color-gray;
    background-color: $color-white;
    border: 1px solid $color-gray100;
    font-weight: bold;
    width: 180px;
    padding: 10px 0;
    text-transform: capitalize;
    .icon {
      margin-right: 10px;
      font-size: 16px;
      color: $color-gray100;
    }
  }
}