.content {
  margin-top: 10px;
  background-color: $color-white;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  width: 100%;

  @include medium {
    margin-top: 25px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1)
  }

  h1 {
    float: left;
    color: $color-gray;
  }

  @include e('title') {
    display: block;
    float: right;
    & > h1,
    & > button,
    .edit {
      display: inline-block;
    }

    & > button {
      float: right;
    }
  }
}