.figure {
  figcaption {
    color: $color-gray;
  }

  @include m('profile') {
    margin: 10px auto;
    width: 128px;
    z-index: 10;

    @include medium {
      float: left;
      width: 170px;
      position: absolute;
      bottom: 10px;
      left: 20px;
    }

    figcaption {
      margin-top: 10px;
      text-align: center;
      font-size: 20px;
      color: $color-black;
      font-weight: bold;

      @include medium {
        display: none;
      }
    }
  }

  @include m('follower') {
    margin: 5px 0;
    & > div,
    & > figcaption {
      display: inline-block;
    }
  }
}