$container-width: 1000px !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default;
$column-margin: 2% !default; // space between column grids

@function column-width($n) {
  @return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns);
}

@function offset-length($n) {
  @return column-width($n) + $column-margin;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @include medium {
    padding-left: 15px;
    padding-right: 15px;
  }

  @include large {
    padding-left: 10px;
    padding-right: 10px;
  }

  .col {

    &--1 { width: column-width(1); }
    &--2 { width: column-width(2); }
    &--3 { width: column-width(3); }
    &--4 { width: column-width(4); }
    &--5 { width: column-width(5); }
    &--6 { width: column-width(6); }
    &--7 { width: column-width(7); }
    &--8 { width: column-width(8); }
    &--9 { width: column-width(9); }
    &--10 { width: column-width(10); }
    &--11 { width: column-width(11); }
    &--12 { width: column-width(12); }

    &--offset-1 { margin-left: offset-length(1); }
    &--offset-2 { margin-left: offset-length(2); }
    &--offset-3 { margin-left: offset-length(3); }
    &--offset-4 { margin-left: offset-length(4); }
    &--offset-5 { margin-left: offset-length(5); }
    &--offset-6 { margin-left: offset-length(6); }
    &--offset-7 { margin-left: offset-length(7); }
    &--offset-8 { margin-left: offset-length(8); }
    &--offset-9 { margin-left: offset-length(9); }
    &--offset-10 { margin-left: offset-length(10); }
    &--offset-11 { margin-left: offset-length(11); }

    &--offset-center {
      margin-left: auto;
      margin-right: auto;
    }

    &--text-align-left { text-align: left; }
    &--text-align-right { text-align: right; }
    &--text-align-center { text-align: center; }
  }

  &:after,
  .row:after {
    clear: both;
    content: "";
    display: table;
  }
}