.input-group {
  position: relative;
  margin: 16px 0;
  display: block;
  float: left;
  clear: both;
  width: 100%;

  label {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 0px;
    transition: 0.2s ease all;
    color: $color-gray200;
    text-transform: uppercase;
  }

  input {
    font-size: 14px;
    padding: 6px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $color-white100;
    color: $color-black100;
  }

  input:focus { outline:none; }

  input:focus ~ label, input:valid ~ label {
    top: -10px;
    font-size: 10px;
    color: $color-gray200;
  }

  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }

  input:focus ~ .highlight {
    animation:inputHighlighter 0.3s ease;
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  .bar {
    position:relative;
    display:block;
    width:100%;
  }

  .bar:before,
  .bar:after	{
    content:'';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $color-white100;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .bar:before {
    left:50%;
  }

  .bar:after {
    right:50%;
  }

  @keyframes inputHighlighter {
    from { background: $color-black100; }
    to 	{ width: 0; background: transparent; }
  }
}