.list {
  margin: 5px 0;

  @include e('icon') {
    margin-right: 5px;
    display: inline-block;
  }

  @include e('value') {
    display: inline-block;
    color: $color-gray;
  }

  @include m('clear') {
    float: left;
    clear: both;
  }
}