.nav {
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  width: 500px;

  @include medium {
    width: 100%;
    box-shadow: none;
  }

  @include e('item') {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 18px;
    color: $color-black;
    display: inline-block;
    line-height: 3;
    vertical-align: middle;
    letter-spacing: 0.04em;

    @include m('selected') {
      border-bottom: 2px solid $color-blue;
    }
  }

  @include m('profile') {
    margin: 15px 0 10px;
    background-color: $color-white;
    padding-top: 5px;
    @include medium {
      margin: 0;
    }
  }

  .container {
    overflow: scroll;
    width: 500px;
    overflow: -moz-scrollbars-none;

    @include medium {
      width: 100%;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include e('items-wrap') {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    width: 700px;
    @include medium {
      width: 100%;
    }
  }
}
