.tooltip {
  // display: none;
  // opacity: 0;
  // visibility: hidden;
  transform: translate(50%, -50%);
  position: absolute;
  padding: 15px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  background-color: $color-white;

  &:after, &:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: $color-white;
    border-width: 10px;
    margin-top: 0px;
  }

  &:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: $color-white;
    border-width: 10px;
    margin-top: 0px;
  }

  @include e('controls') {
    margin-top: 15px;
    & > a:first-child {
      margin-right: 10px;
    }

    & > a {
      display: inline-block;
    }
  }
}