.profile {
  margin: 0 auto;
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;

  @include medium {
    height: 100vh;
  }

  @include large {
    max-width: 1170px;
  }

  @include e('header') {
    margin-top: 30px;
    padding: 20px 0 10px;
    box-sizing: border-box;
    position: relative;

    @include medium {
      overflow: hidden;
      width: 100%;
      background: white;
      position: relative;
      padding-bottom: 60px;
      box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1)
    }

    .button--disabled {
      position: absolute;
      top: 40px;
      margin: 0 auto;
      left: 0;
      right: 0;
      display: none;

      @include medium {
        display: block;
      }
    }

    @include e('top') {
      padding: 0 20px;
      @include medium {
        width: 100%;
        overflow: hidden;
        padding: 0;

        h3 {
          clear: both;
          width: 100%;
        }

        h3, ul {
          float: left;
        }

        .figure {
          float: right;
          padding-right: 20px;
          div, figcaption {
            display: inline;
          }

          figcaption {
            margin-left: 5px;
          }
        }
      }
    }

    @include e('bottom') {
      @include medium {
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 200px;
        padding-right: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
      }
      .figure {
        float: left;
        width: auto;
        padding: 0 20px;
        @include medium {
          float: right;
          line-height: 3;
          vertical-align: middle;
          padding: 0;
        }
      }

      .nav {
        float: left;
        width: 100%;
        @include medium {
          width: auto;
        }
      }
    }

    @include e('info') {
      float: left;
      width: 100%;

      @include medium {
        padding-left: 210px;
        box-sizing: border-box;
        margin-top: 40px;
      }

      h3 {
        display: none;
        @include medium {
          display: inline-block;
        }
      }
    }
  }

  @include e('content') {
    @include medium {
      float: left;
      clear: both;
      width: 100%;
    }
    @include m('tab') {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    @include e('form') {
      display: block;
      visibility: visible;
      opacity: 1;
      float: left;
      width: 100%;
      clear: both;
      margin-top: 20px;

      @include medium {
        display: none;
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}