.is-hidden {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.is-shown {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}
