$size-large: 992px;
$size-medium: 768px;
$size-small: 576px;

@mixin small {
  @media (min-width: #{$size-small}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$size-medium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$size-large}) {
    @content;
  }
}
